.btn {
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 2px;
  background: $gray;
  transition: bacground 0.3s ease;
  will-change: bacground;

  &--primary {
    background: $green;
    color: $white;

    &:hover {
      background: $green-hover;
    }
  }

  @media all and (max-width: 599px) {
    &--xs-full {
      width: 100%;
    }
  }
}
